*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

div#apresentacao{
    display: flex;
    justify-content: left;
    justify-items: center;
    flex-direction: column;
    padding: 15%;

}

p{
    font-size: 30px;
    color: white;
}
h1{
    font-size: 60px;
    color: white;
    background-image:linear-gradient( rgb(89, 29, 185), rgb(114, 25, 134), rgb(192, 43, 211));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name: titulo;
    animation-duration: 4s;
}

@keyframes titulo{
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
}

#desenvolvedora{
    color: rgb(90, 0, 164);
    margin-bottom: 30px;
}

h2{
    padding-top: 12px;
    padding-left: 18px;
    margin-left: 15%;
    color: #ffffff;
    width: 15%;
    border: 5px solid rgb(70, 0, 97);
}


.divisaoimgs{
  margin-left: 14%;
}

img.redes{
    width: 40px;
    height: 40px;
    color: white;
    margin-left: 20px;
    margin-bottom: 10px;
}

nav{
    position: absolute;
    top: 25px;
    right: 0; 
    left: 0;
    color: #ffffff;
}

nav ul{
    display: inline;
}

nav li{
    display:inline;
    margin: 0 0 0 15px;
    float: right;
}

nav a{
    color: #ffffff;
    font-family: 'Arial, Helvetica, sans-serif';
    font-size: 20px;
    text-decoration: none;
}

a:hover{
    color: rgb(72, 14, 180);
    transition: width;
}
#imgport{
    display: flex;
    align-items:end;
    justify-content: right;
    justify-self: right;
    word-wrap: break-word;
    margin-top:-40%;
    margin-right: 20%;
}

img{
    width: 350px;
    height: 500px;
    border-radius: 100%; 
    box-shadow: 5px 3px 3px rgb(70, 0, 97);
}

div#sobre{
   width: 100%;
   display: flex;
   align-items:end;
   justify-content: right;
   justify-self: right;
   word-wrap: break-word;
   margin-top: -5px;
   margin-left: 8px;
   
}


